<%- include("../partials/header") %>

<div class="animation"><a  href="/products/category/all" class="btn btn-info" style="margin-top: 80px ;">Shop &nbsp;Now &nbsp;</a><br>
<img src='/image/shop.jpeg' style="width:60%; height:auto ; margin-top: 10px;overflow:hidden;"></img>&nbsp;
</div>

<%- include("../partials/footer") %>